Flask==3.0.3
Werkzeug==3.0.6
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
python-dotenv==1.0.1
SQLAlchemy==2.0.36
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2
gunicorn-26.0.0
Pillow==10.4.0
reportlab==4.2.5
requests==2.31.0
urllib3==2.0.7
charset-normalizer==3.3.2
SpeechRecognition==3.10.4
transformers==4.46.3
huggingface-hub==0.26.2
torch>=2.1.0,<2.3.0